/* Mobile view */
@media only screen and (max-width: 1200px) {
  .sub-topics-container h1 {
    padding-right: 0;
  }
  .topic-text {
    position: static;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .sub-topics-container {
    margin-left: 0;
    width: 100%;
  }
  .topic-img {
    position: static;
    margin-top: 1rem;
  }
  .topic {
    padding: 1rem;
    box-sizing: border-box;
  }
}

/* desktop view */

@media only screen and (min-width: 1201px) {
  .sub-topics-container h1 {
    padding-right: 15rem;
  }
  .sub-topics-container {
    width: fit-content;
  }
  .topic {
    padding-left: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .topic-img {
    position: absolute;
    top: 0rem;
    right: -26rem;
  }
  .topic-text {
    width: 33rem;

    position: relative;
  }
  .sub-topics-container {
    margin-left: 20rem;
  }
}

.topic {
  background-color: #333333;
  width: 100%;
  height: fit-content;
}

.topic-category {
  color: #03c180;
}
.topic-text {
  height: 100%;
  color: white;
}
.topic-description {
  padding-top: 1rem;
}
.topic-text ion-icon {
  color: goldenrod;
}

.topic-img {
  height: fit-content;
  padding: 0.1rem;
  width: 20rem;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

  color: black;
}
.topic-details {
  padding: 1rem;
}
.topic-details span {
  font-weight: 900;
}
.topic img {
  height: 55%;
  width: 100%;
}

.add-favourites-container {
  border: 1px solid #dddddd;
  padding: 0.5rem 1.5rem;
  text-align: center;
}

.add-favourites-button {
  display: flex;
  justify-content: space-between;
  background-color: #03c180;
  color: white;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1.1rem;
}
.add-favourites-button ion-icon {
  font-size: 1.4rem;
}

.unlimited-credits {
  color: #c0c0c0;
  font-size: 0.8rem;
  font-weight: 100;
}
.sub-topics-container {
  padding: 1rem 0;
  margin-top: 2rem;
  background-color: var(--bg_default);
  border-radius: 0.5rem;
  border: 1px solid var(--lines-color);
}
.sub-topics-container h1 {
  padding-left: 1rem;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 1rem;
  border-top: 1px solid var(--lines-color);
}

[name="checkmark-circle-outline"] {
  color: green;
  font-size: 1.5rem;
}
