.favourites {
  position: fixed;
  background-color: var(--bg_default);
  width: 100%;
  height: fit-content;
  padding: 1rem 0rem 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.topic-favourites {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--bg_default);
  width: 8rem;
  height: 6.5rem;
  border-radius: 0.7rem;
  margin-top: 1rem;
  box-shadow: rgba(99, 99, 99, 0.09) 0px 2px 8px 0px;
}
.topic-favourites ion-icon {
  color: goldenrod;
}
.topic-favourites p,
h1 {
  margin: 0;
}
.favourites h1 {
  font-size: 1.2rem;
  font-weight: 900;
}
.topic-favourites img {
  border-radius: 0.7rem 0.7rem 0rem 0rem;
  background-color: white;
}

.topics-favouries {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
